<center>
<h4>Universidad Nacional de Córdoba - Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h4>
<h3> Análisis y Visualización de Datos </h3>
</center>

# Tipos de datos

En esta notebook vamos a analizar los tipos de datos estadísticos de nuestro dataset, y comparalos con los tipos de datos computacionales de pandas.

In [2]:
import io
import pandas
import seaborn

print(seaborn.__version__)

0.10.1

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [16]:
df = pandas.read_csv('http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv')
#df.columns = ['timestamp', 'gender', 'age', 'zodiac_sign', 'profession',
#              'junior_programmer_salary', 'senior_programmer_salary']
df

    Transaction_date   Product Price  ...    Last_Login   Latitude   Longitude
0        1/2/09 6:17  Product1  1200  ...   1/2/09 6:08  51.500000   -1.116667
1        1/2/09 4:53  Product1  1200  ...   1/2/09 7:49  39.195000  -94.681940
2       1/2/09 13:08  Product1  1200  ...  1/3/09 12:32  46.188060 -123.830000
3       1/3/09 14:44  Product1  1200  ...  1/3/09 14:22 -36.133333  144.750000
4       1/4/09 12:56  Product2  3600  ...  1/4/09 12:45  33.520560  -86.802500
..               ...       ...   ...  ...           ...        ...         ...
993    1/22/09 14:25  Product1  1200  ...   3/1/09 3:37  54.583333   -5.933333
994     1/28/09 5:36  Product2  3600  ...   3/1/09 4:40 -20.360278   57.366111
995      1/1/09 4:24  Product3  7500  ...   3/1/09 7:21  42.946940  -76.429440
996     1/8/09 11:55  Product1  1200  ...   3/1/09 7:28  52.083333    0.433333
997    1/12/09 21:30  Product1  1200  ...  3/1/09 10:14  43.073060  -89.401110

[998 rows x 12 columns]

## Tipos de variables aleatorias

En base a la definición de variable aleatoria que vimos en el teórico, podemos hablar de que cada columna de nuestro dataset es un **variable aleatoria**, y que su valor en cada respuesta es una **realización** de dicha variable. Pero, ¿qué tipo tienen esas variables?

Tenemos que distinguir dos conceptos con el mismo nombre y significado similar, pero que no son iguales:
 - **tipo de la variable aleatoria** es el tipo teórico que tienen nuestros datos.
 - **tipo de datos** es un concepto de programación que indica en qué formato se representa la información.

Analicemos el tipo de cada variable aleatoria en base a la clasificación que vimos en el teórico:
 
- `gender`: ??
- `age`: ??
- `zodiac_sign`: ??
- `profession`: ??
- `junior_programmer_salary`: ??
- `senior_programmer_salary`: ??

Preguntar para discutir:

1. El tipo de `age`, ¿es discreto o continuo?
2. ¿Qué valores pueden tomar `junior_programmer_salary` y `senior_programmer_salary`? ¿Qué valores toman en la encuenta?
2. Los signos del zodiaco siguen un orden (al igual que los días y los meses del año). ¿Podríamos decir que `zodiac_sign` tiene tipo ordinal?

### Rango y valores posibles

Siempre es útil saber qué valores puede tomar una variable para entender qué tipo tiene. Sin embargo, si sospechamos que una variable es continua, no tiene sentido listar todos sus valores posibles. En ese caso, nos conviene mostrar sólo el rango, o tomar una pequeña muestra. Veamos algunos ejemplos:

In [ ]:
df.gender.unique()  # Listar todos los valores posibles

array(['Prefiero no decirlo', 'Mujer', 'Varon'], dtype=object)

El método unique() muestra todos los valores posibles.

In [20]:
df.Price.max(), df.Price.min()  # Variable numérica

('800', '1200')

In [21]:
df.Price.sample(n=10)  # Tomamos una muestra

531    1200
760    1200
842    1200
448    1200
6      1200
158    3600
407    1200
964    3600
966    1200
118    1200
Name: Price, dtype: object

In [25]:
df.Price.unique()[:8]

array(['1200', '3600', '2100', '7500', '800', '1250', '250', '1800'],
      dtype=object)

## Tipos de datos en programación

Ahora pasemos al tipo de datos. Podemos saber con Pandas cómo está guardando la información de cada columna:

In [26]:
df.dtypes

Transaction_date     object
Product              object
Price                object
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

En este caso, el tipo `object` hace referencia a un string, pero también podría ser una fecha, una lista, o cualquier cosa más compleja que un número. El **tipo de datos no siempre se correlaciona con el tipo de la variable**. Por ejemplo, si guardamos un puntaje de satisfacción del 1 al 5, aunque usemos números, esa variable es conceptualmente ordinal y no numérica.